[submodule "risczero/contracts/lib/forge-std"]
	path = risczero/contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "risczero/contracts/lib/openzeppelin-contracts"]
	path = risczero/contracts/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
